* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    overflow: hidden;
    color: #f5f5f5;
}

.container {
    text-align: center;
    z-index: 10;
}

.logo {
    width: 150px; /* Ajusta el tamaño según el logo */
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    opacity: 0.8;
}

/* Ondas de fondo */
.wave {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.6;
    border-radius: 100%;
    animation: wave 8s ease-in-out infinite;
}

.wave2 {
    animation-delay: 2s;
    background: rgba(255, 255, 255, 0.15);
}

.wave3 {
    animation-delay: 4s;
    background: rgba(255, 255, 255, 0.1);
}

@keyframes wave {
    0% {
        transform: translateX(-50%) translateY(0) scale(1);
    }
    50% {
        transform: translateX(-50%) translateY(-20px) scale(1.1);
    }
    100% {
        transform: translateX(-50%) translateY(0) scale(1);
    }
}
